<template>
    <div class="v-base-card">
        <slot></slot>
    </div>
</template>

<style lang="sass" scoped>
@import "@/assets/styles/abstracts/variables.sass"

.v-base-card
    +border-radius
    +box-shadow
    background-color: $card-bg-color
    padding: 3rem
    border: 1px solid $card-border-color
</style>
