<script setup lang="ts">
import { ref, computed } from "vue"
import { useI18nStore } from "@/stores/i18n"
import { useHelperStore } from "@/stores/helper"
import { useStopwatch } from "@/composables/useStopwatch"
import BaseCard from "@/components/BaseCard.vue"

const {
    mm,
    ss,
    hh,
    timer,
    interval,
    stopwatchIsRunning,
    buttonText,
    clickButton,
    startStopwatch,
    stopStopwatch,
    resetStopWatch,
} = useStopwatch()

// Put translations in a `t` object
const t = useI18nStore()
const helper = useHelperStore()
</script>

<template>
    <BaseCard>
        <div class="v-stopwatch u-mb" data-cy="timer">
            <div class="v-stopwatch__time-unit" data-cy="mm">
                {{ helper.addLeadingZero(mm) }}
            </div>
            <div class="v-stopwatch__time-separator">:</div>

            <div class="v-stopwatch__time-unit" data-cy="ss">
                {{ helper.addLeadingZero(ss) }}
            </div>
            <div class="v-stopwatch__time-separator">:</div>

            <div class="v-stopwatch__time-unit --hundreths">
                {{ helper.addLeadingZero(hh) }}
            </div>
        </div>

        <button @click="clickButton()" class="c-button" data-cy="button">
            {{ buttonText }}
        </button>
    </BaseCard>
</template>

<style lang="sass" scoped>
.v-stopwatch
    display: flex
    justify-content: space-between
    align-items: center

    &__time-unit
        font-size: 5rem
        font-weight: bold
        // Using monospace font so numbers don't continually shift
        // when the stopwatch is running
        font-family: Menlo

        &.\--hundreths
            font-size: 3rem

    &__time-separator
        font-size: 2rem
</style>
