<script setup lang="ts">
import { useI18nStore } from "@/stores/i18n"
import Stopwatch from "@/components/Stopwatch.vue"
import BaseHeading from "@/components/BaseHeading.vue"
import IconGitLab from "@/components/IconGitLab.vue"

// Put translations in a `t` object
const t = useI18nStore()
</script>

<template>
    <BaseHeading class="u-mb" data-cy="heading">{{ t.heading }}</BaseHeading>

    <Stopwatch class="u-mb" />

    <a href="https://gitlab.com/wouter-muller/stopwatch-app" target="_blank">
        <IconGitLab />
    </a>
</template>
